<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: 'Arial', sans-serif;
        }

        .card {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 20px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
            padding: 30px;
        }

        .card-header {
            background-color: transparent;
            border-bottom: none;
            text-align: center;
            font-weight: bold;
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .form-control {
            border-radius: 20px;
            padding: 10px 15px;
            margin-bottom: 20px;
            box-shadow: none;
        }

        .btn-primary {
            background-color: #764ba2;
            border-color: #764ba2;
            border-radius: 20px;
            padding: 10px 15px;
            width: 100%;
        }

        .btn-primary:hover {
            background-color: #5c3b7c;
            border-color: #5c3b7c;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">login with otp</div>
                    <div class="card-body">
                        <form action="/verifyOtp" method="POST">
                            <div class="mb-3">
                                <input type="number" class="form-control" id="verifyOtp" name="otp" placeholder="enter your otp" >
                                <input type="hidden" name="email" id="email" value="<%= email %>">
                            </div>
                            <button type="submit" class="btn btn-primary">verify otp</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
